<p>
  <a href="/">Home</a>  
  <a href="/horses">Horses</a>  
  <a href="/jockeys">Jockeys</a>
<p>

<h3><%= @horse.name %></h3>
<p>
  Jockey: <%= @horse.jockey.name %></br>
  Breed: <%= @horse.breed.name %><br>
  Age: <%= @horse.age  %><br>
  Career Winnings: <%= @horse.total_winnings %>
</p>